@import "../../style/index";

.table-renderer {
    border-radius: 4px;
    border: 1px solid #cbd2e1;
    width: 100%;
    background-color: white;
   

    .tabs {
        display: flex;
        border-bottom: 1px solid #CBD2E1;
        user-select: none;
        .tab-item {
            flex-grow: 1;
            text-align: center;
            padding: 10px;
            color:#A4B8D3;
            cursor: pointer;

            &:hover{
                color:black !important;
            }

            &.active {
                color: $link;
            }

            
        }
    }

    .section {
        height: 75vh;
        overflow: auto;
        .title {
            background-color: #f1f4f8;
            padding: 10px;
            color: $text;
            font-weight: 600;
            border-bottom: 1px solid #CBD2E1;

            .title-loading{
                height:20px;
                width:200px;
                border-radius:20px;
                background-color:#e6e6e6;
            }


            .title-info {
                font-size:0.8em;
                padding-left:10px;
                color:#AEC0D7;
            }
        }
        .items {
           
            .item {
                padding: 12px 20px;
                display: flex;
                border-bottom: 1px solid #cbd2e1;

                .title-loading-container{
                    flex-grow: 1;
                    .title-loading{
                        height:12px;
                        width:320px;
                        border-radius:20px;
                        background-color:#e6e6e6;
                    }
                }
                .button-loading-container{
                    flex-grow: 1;
                    .button-loading{
                        height:12px;
                        width:90px;
                        border-radius:20px;
                        background-color:#e6e6e6;
                        float:right;
                    }
                }
               

               


                .item-info {
                    
                    color: $text;
                    font-weight: 400;
                    flex-grow: 1;

                    .shift-info-container{
                        
                        .shift-area{
                            color:#a4b8d3;
                            padding-top:6px;
                        }
                    }

                   
                }
                .item-actions {
                    text-align: right;
                    flex-grow: 1;
                }
            }
        }
    }
}

button {
    border-radius: 20px;
    outline: 0 none;
    width:80px;
    padding: 4px 12px;
    background-color: white;
    cursor: pointer;
    user-select: none;
    font-size:0.8em !important;

    &.success {
        border: 1px solid $success-dark;
        color: $success-dark;

        
    }

    &.disabled{
        pointer-events: none;
        color:$unavailable !important;;
        border: 1px solid $unavailable !important;; 
        cursor:not-allowed !important;
    }

    &.danger {
        border: 1px solid $danger-dark;
        color: $danger-dark;
    }
}
