.navbar{
    width:100%;
    box-sizing: border-box;

    ul{
        li.link{
            display:inline-block;
            padding:10px;
            color:#A4B8D3;
            font-weight: 500;
            
            &.active{
                color:#004FB4;
                font-weight: 700;
            }
            &:hover{
                color:black;
                cursor: pointer;
            }
        }
    }
}