@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

$unavailable: #cbd2e1;

$link: #004fb4;
$text: #4f6c92;
$success-dark: #16a64d;
$danger-dark: #e2006a;

body {
  font-family: "Lato", sans-serif;
  background: #f1f4f7;

  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .app-page {
    box-sizing: border-box;
    margin: 10px 50px;
  }
}
